
/* Adalbert Főoldal: */

h1 {
    text-align: center;
	font-family: "Berkshire Swash", Helvetica, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
	color: white;
}

body {
    /* background-image: url(../img/szurke.jpg); */
	background-color: lightskyblue;
	color: black;

}

.images {
    text-align: center;
}
    
.image {
    height: 500px;
    padding: 50px;
 }

 .fooldal-szoveg {
	 font-size: 18px;
	 color: black;
	 font-weight: normal;
	 text-align: justify;
	 
 }

 .hand-written-font {
	/* font-family: "Cookie", Helvetica, sans-serif; */
	font-family: "Berkshire Swash", Helvetica, sans-serif;
	
	color: black;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
	font-size: 30px;
	border: 5px outset;
	padding: 10px;
	margin: 10px;
	text-align: justify;
  }

.navbar {
	background-color: blue;
}

.navbar a {
    color: white;
}

.active a {
	color: gold;
}

/* Órarend aloldal: */

.szukseges-eszkozok {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	border: outset 5px;
	
}

#tablazat {
	margin-top: 10px;
}

/* Galéria aloldal: */

.beallitasok {
	border: 10px outset beige;
	width: 50%;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 24px;
	font-weight: bold;
	color: white;
}

/* Elérhetőségeink alolda: */
 
address {
	text-align: center;
	
}

.elerhetoseg {
	font-weight: bold;
}

