.beallitasok {
	border: 15px solid #333;
	width: 50%;
	margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: white;
}

body {
    /* background-image: url(../img/szurke.jpg); */
	background-color: lightskyblue;
	color: black;

}

.images {
    text-align: center;
}
    
.image {
    height: 500px;
    padding: 50px;
 }

 address {
	 text-align: center;
 }

 
 .hand-written-font {
	/* font-family: "Cookie", Helvetica, sans-serif; */
	font-family: "Berkshire Swash", Helvetica, sans-serif;
	
	color: black;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
	font-size: 30px;
	border: 5px outset;
	padding: 10px;
	margin: 10px;
  }

.navbar {
	background-color: blue;
}

.navbar a {
    color: white;
}

.active a {
	color: gold;
}

.szukseges-eszkozok {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px maroon;
	/* display: flex;
    justify-content: center; */
}

#tablazat {
	margin-top: 10px;
}